* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 35px;
    gap: 5px;
    background-color: #006D6F;
}
h1 {
    transition: 0.2s;
} h1:hover {
    color: rgb(3, 40, 33);
    padding: 2px;
}
#display {
    padding: 4.5px;
    border: none;
    border-radius: 4px;
    background-color: rgb(20, 56, 56);
    color: rgb(100, 99, 99);
    font-weight: 700;
    transition: 0.3s;
} #display:hover {
    background-color: rgb(18, 45, 45);
    color: rgb(100, 99, 99);
}
#name,#press {
    padding: 4.5px;
    border: none;
    border-radius: 4px;
    background-color: rgb(18, 45, 45);
    color: rgb(100, 99, 99);
    font-weight: 700;
}           
#name:focus,
#press:focus {
    outline: none;
}
#press:hover {
    background-color: rgb(17, 62, 62);
    color: rgb(97, 102, 104);
}
#mainPart {
    background-color: inherit;
    color: rgb(21, 21, 21);
    font-weight: 500;
    opacity: 1;
}
#text {
    padding-left: 8px;
    bottom: 5px;
    position: relative;
}

#buttonPlace {
    padding: 6px;
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
    flex-direction: column;
    gap: 8px;
    background-color:  inherit;

}
#createPass, #getLength, #genblocks{    
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: rgb(16, 53, 53);
    color: rgb(97, 102, 104);
    font-weight: 700;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    transition: 0.2s;
} #getLength {
    width: 100%;
    padding: 8px;
}
#genblocks {
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.4s;
} #genblocks:hover {
    padding: 10px;
    background-color: #032627e1;
}
#createPass:hover, #getLength:hover {
    background-color: rgb(17, 62, 62);
    color: rgb(97, 102, 104);
    padding: 6px;
} #getLength:focus {
    outline: none;
}
#textInPass {
    padding: 5px;
    color: rgb(36, 38, 39);
    font-weight: 500;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    transition: 0.2s;
} 
#passDisplay {
    border: 0 solid inherit;
    border-radius: 4px;
    background-color: rgb(17, 62, 62);
    padding: 5px;
    color: rgb(97, 102, 104);
    font-weight: 500;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    transition: 0.2s;
    /* separator */
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
}
/* random blocks */
#ballLocate {
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.blocks {
    /* before */
    border: 0 solid inherit;
    background-color: rgba(127, 255, 212, 0.334);
    padding: 3px;
    border-radius: 6px;
    justify-content: center;
    display: flex;
    font-weight: 700;
    color: rgb(49, 47, 47);
    transition: 0.4s;
} .blocks:hover {
    padding: 7px;
    background-color: aquamarine;

}